.wrapper {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    cursor: pointer;

    a {
        color: #181C32;
    }

    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}

.border-top {
    border-top: solid 1px #d8d8d8;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.info {
    flex: 1;
    margin-left: 12px;

    .name {
        font-size: 14px;
        font-weight: 500;
    }

    i {
        margin-right: 12px;
    }
}